/* GENERAL */
body {
    background-color: #fffafc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    background-color: #f8e1e7;
}

/* TITLURI */
h1, h2 {
    margin-top: 20px;
    text-align: center;
}

/* CONTAINER GENERAL */
.container {
    margin-top: 20px;
}

/* BUTOANE */
.btn-primary {
    background-color: #d63384;
    border: none;
}

.btn-primary:hover {
    background-color: #c2186a;
}